html,
body,
#root {
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  height: 100%;
  width: 100%;
}

.App-logo {
  display: block;
  height: auto;
  max-width: 100%;
  animation: dropIn 1000ms;
  margin-top: 50px;
  margin-bottom: 10px;
  opacity: 0.8;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
  -moz-transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
  -ms-transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
  -o-transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotate(0) scale(0.95);
  -moz-transform: rotate(0) scale(0.95);
  transform: rotate(0) scale(0.95);
  -webkit-backface-visibility: hidden;
}

.App-logo:hover {
  opacity: 1.0;
  -webkit-transform: rotate(2deg) scale(1.0);
  -moz-transform: rotate(2deg) scale(1.0);
  transform: rotate(2deg) scale(1.0);
}

.App-header {
  flex: 1 100%;
  background: #282537;
  background-image: -webkit-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
  background-image: -moz-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
  background-image: -o-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
  background-image: radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
  height: auto;
  padding: 20px;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: color 250ms ease-in-out;
  -moz-transition: color 250ms ease-in-out;
  -ms-transition: color 250ms ease-in-out;
  -o-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}

.App-header:hover {
  color: rgba(255, 255, 255, 1.0);
}

.App-title {
  animation: fadeIn 2000ms;
  text-shadow: 2px 2px 2px #000;
}

.App-intro {
  flex: 1 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: large;
}

@media (min-width: 920px) {
  .App {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    text-align: center;
  }

  .App-header {
    flex: 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .App-intro {
    flex-direction: column;
    flex: 0;
    width: auto;
    padding: 20px;
  }
}

.App-links {
  animation: fadeIn 2200ms;
  padding: 10px;
  -webkit-transition: opacity 250ms ease-in-out;
  -moz-transition: opacity 250ms ease-in-out;
  -ms-transition: opacity 250ms ease-in-out;
  -o-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
  opacity: 0.8;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0);
  -webkit-backface-visibility: hidden;
}

.App-links:hover {
  opacity: 1;
}

@keyframes dropIn {
  0% {
    transform: translate3d(0, -1000%, 0) scale(0.95);
  }

  50% {
    transform: translate3d(0, -1000%, 0) scale(0.95);
  }

  100% {
    transform: translate3d(0, 0, 0) scale(0.95);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}